# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List commomly used libraries for Data Science
- Create different markdown cells

Some of the popular languages that Data Scientists use are:

1. Python
2. RStudio
3. SQL

Some of the commonly used libraries used by Data Scientists include:
- Tensor Flow
- Pandas
- Seaborn

| Data Science Tools | 
| --- | 
| Jupyter Notebook |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

In [ ]:
# This will convert 200 minutes to hours by dividing by 60
hours_ = 200 / 60
print (hours_)

## Author
Mareike